<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#/users/{{userId}}"><strong>FAKE-TEREST. </strong> <small>For your fake interests.</small></a>
    </div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="form-inline navbar-form navbar-left" role="search">
        <div class="form-group" id="inputBar">
          <input type="text" class="form-control" placeholder="Search All Pins" ng-model="pinSearch">
        </div>
        <button type="submit" class="btn btn-default" ng-click="searchAllPins()">Submit</button>
      </form>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4"></div>
    <div class="col-sm-6 col-md-4">
      <div class="tabs">
        <ul>
          <li>
            <a href="#/users/{{userId}}/boards" class="btn btn-default" role="button">Your Boards</a>
          </li>
          <li>
            <a href="#/users/{{userId}}/pins" class="btn btn-default" role="button">Your Pins</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4"></div>
  </div>
    
  <div class="row">
    <div class="col-sm-6 col-md-4"></div>
    <div class="col-sm-6 col-md-4">
      <div class="createBox">
        <h1>Create a new Board!</h1>
          <div class="inputArea">
            <div>
              <h4>Name of Board:</h4><input type="text" class="form-control" ng-model="newBoardName" autofocus>
            </div>
            <div>
              <a href="#/users/{{userId}}/boards"><button ng-click="createBoard()" class="btn btn-sm">Create</button></a>
            </div>
          </div>

      </div>
    </div>
    <div class="col-sm-6 col-md-4">
  </div>
</div>