<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#/users/{{userId}}"><strong>FAKE-TEREST. </strong> <small>For your fake interests.</small></a>
    </div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search All Pins" ng-model="pinSearch">
        </div>
        <button type="submit" class="btn btn-default" ng-click="searchAllPins()">Submit</button>
      </form>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="tabs">
  <ul>
    <li>
      <a href="#/users/{{userId}}/boards" class="btn btn-default" role="button">Your Boards</a>
    </li>
    <li>
      <a href="#/users/{{userId}}/pins" class="btn btn-default" role="button">Your Pins</a>
    </li>
  </ul>
</div>

<h1>Create a new Pin! It's fun and exciting!</h1>
<div>
  Title: <input type="text" ng-model="newPinName" autofocus>
  URL: <input type="text" ng-model="addURL">
  Image URL: <input type="text" ng-model="addImageURL">
  Comment: <input type="text" ng-model="addComment">
  <select
    ng-model="theBoard"
    ng-options="board.name for board in userBoards">
    <option>--</option>
  </select>
</div>
<div>
  <a href="#/users/{{userId}}/pins"><button ng-click="createPin()">Create</button></a>
</div>