@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
html {
  background-color: lightgrey; }

body {
  background-color: #dedede; }

div.social-wrap button {
  padding-right: 45px;
  height: 35px;
  background: none;
  border: none;
  display: block;
  background-size: 35px 35px;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  width: 205px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0; }

button#github {
  border-color: #007aa6;
  background-color: #444444; }

button#facebook {
  border-color: #2d5073;
  background-color: #3b5998;
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png); }

#login {
  display: inline-block;
  border: ridge 5px grey;
  -moz-border-radius-topleft: 35px;
  -moz-border-radius-topright: 35px;
  -moz-border-radius-bottomleft: 35px;
  -moz-border-radius-bottomright: 35px;
  -webkit-border-top-left-radius: 35px;
  -webkit-border-top-right-radius: 35px;
  -webkit-border-bottom-left-radius: 35px;
  -webkit-border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  /* center div */
  height: 300px;
  width: 300px;
  position: absolute;
  background: white;
  margin: -150px 0 0 -150px;
  left: 50%;
  top: 50%; }
  #login .logButtons {
    height: 100px;
    width: 206px;
    position: absolute;
    margin: 0px 0 0 -100px;
    left: 50%;
    top: 50%; }

.tabs {
  text-align: center; }
  .tabs li {
    display: inline-block;
    list-style-type: none; }

.createButton {
  margin-bottom: 5px; }
  .createButton button {
    background-color: #C92228;
    color: white; }

.btn-default {
  border: 1px solid grey;
  color: #C92228; }

.thumbnail {
  min-height: 350px;
  font-family: 'Open Sans'; }

.thumbnail h3 {
  font-family: 'Pacifico'; }

.thumbnail img {
  width: 150px;
  height: 150px; }

.pinIt {
  position: absolute;
  bottom: 30px;
  right: 25px;
  background-color: #C92228;
  color: white;
  font-family: 'Open Sans'; }

.navbar-brand {
  font-family: "Pacifico"; }

.navbar-header > a.navbar-brand {
  color: #C92228;
  font-size: 2em; }

.navbar-header > a.navbar-brand:hover {
  color: #dedede; }

.navbar {
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999; }

#loginTitle {
  color: #C92228;
  font-size: 2em;
  font-family: "Pacifico";
  position: absolute;
  top: 10px;
  text-decoration: none; }

#login strong, #login small {
  display: block;
  text-align: center;
  margin-left: 7%; }

small {
  font-family: 'Open Sans'; }

.tabs > ul > li > a {
  font-family: 'Open Sans';
  background-color: #C92228;
  color: white; }

/* centered columns styles */
.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

a button {
  font-family: "Open Sans"; }

@media (max-width: 800px) {
  strong, small {
    display: block;
    padding: 5px; } }

/*# sourceMappingURL=main.css.map */
